name: Test

on:
    push:
        branches:
            - main
            - /^v?([0-9]+\.){1,2}(x|[0-9]+)-?[a-z]*[1-9]*$/
    pull_request:
        branches:
            - main

jobs:

    Tests:
        name: 'T3 ${{ matrix.typo3 }} - PHP ${{ matrix.php }} - ${{ matrix.dependency-version }}'
        runs-on: ubuntu-18.04

        strategy:
            fail-fast: false
            matrix:
                typo3: [ '^11.5.0', '^12.2.0' ]
                php: [ '8.1', '8.2' ]
                dependency-version: [ lowest, stable ]
                experimental: [ false ]

        continue-on-error: ${{ matrix.experimental }}

        steps:
            -   name: Start database server
                run: sudo /etc/init.d/mysql start

            -   name: Checkout
                uses: actions/checkout@v3

            -   name: Composer Cache Vars
                id: composer-cache-vars
                run: |
                    echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT
                    echo "timestamp=$(date +"%s")" >> $GITHUB_OUTPUT

            -   name: Cache Composer dependencies
                uses: actions/cache@v3
                with:
                    path: ${{ steps.composer-cache-vars.outputs.dir }}
                    key: ${{ runner.os }}-composer-${{ matrix.typo3 }}-${{ matrix.dependency-version }}-${{ matrix.php }}-${{ steps.composer-cache-vars.outputs.timestamp }}
                    restore-keys: |
                        ${{ runner.os }}-composer-${{ matrix.typo3 }}-${{ matrix.dependency-version }}-${{ matrix.php }}-
                        ${{ runner.os }}-composer-${{ matrix.typo3 }}-${{ matrix.dependency-version }}-
                        ${{ runner.os }}-composer-${{ matrix.typo3 }}-
                        ${{ runner.os }}-composer-

            -   name: Set up PHP Version ${{ matrix.php }}
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php }}
                    tools: composer:v2
                    coverage: none

            -   name: Environment Check
                run: |
                    php --version
                    composer --version

            -   name: Validate composer.json and composer.lock
                run: composer validate

            -   name: Install
                run: |
                    composer update --with typo3/cms-core="${{ matrix.typo3 }}" --prefer-${{ matrix.dependency-version }} --prefer-dist --no-interaction

            -   name: Lint
                run: vendor/bin/parallel-lint --exclude vendor --exclude .Build .

            -   name: Unit Tests
                run: vendor/bin/phpunit tests/Unit/

            -   name: Install Test
                run: |
                    rm -f public/typo3conf/LocalConfiguration.php config/system/settings.php
                    TYPO3_CONTEXT=Development vendor/bin/typo3 install:setup --no-interaction --skip-integrity-check --install-steps-config tests/Functional/Fixtures/install.steps.yaml

            -   name: Site Test
                run: |
                    rm -rf var/cache/*
                    vendor/bin/typo3 site:list | grep my-fancy-host

            -   name: BE Config Test
                run: |
                    rm -rf var/cache/*
                    vendor/bin/typo3 configuration:showlocal SYS/sitename --json | grep 'TYPO3 Config Handling Distribution'
